* {
    margin: 0;
    padding: 0;
} body{
    background-image: url('https://img.sndimg.com/food/image/upload/f_auto,c_thumb,q_55,w_1280,ar_16:9/v1/img/recipes/32/14/57/YujW6Iu0QQ6fxzndvdwN_0S9A3002.jpg');
    background-position: center;
    background-size: cover;
    box-shadow:inset ;
    height: 700px;
    width: auto;
}

.background {
   
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
}

h1 {
    font-size: 50px;
    text-align: center;
}

.text {
    color: white
}

.box {
    margin-top: 0px;
    padding: 8%;

}