.New-Expenses{
    border-radius: 4px;
    background-color: pink;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    width: 50rem;
    text-align: center;

}.New_Expense_action button{
    cursor: pointer;
    background-color: rgb(67, 16, 116);
    border: 1px solid rgb(66, 11, 66);
    color: white;
    font-size: 1rem;
    padding: 3px;
    margin: 5px;
    border-radius: 4px;
    font: inherit;
    
    
}.New_Expense_action button:hover{
    background-color: blueviolet;
    transform: 10px;
    
}