* {
    margin: 0;
    padding: 0;
}


.section {
   background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/2e884ce2-da1c-4501-ab9a-10c534d30975/6973a9ea-02b2-4de9-9006-d7d224c9b75d/IN-en-20230327-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    /*background: rgba(0,0,0,0.6);
    box-shadow: inset 120px 100px 250px #000000,inset -120px -100px 250px #000000;*/
    
}.section::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(19, 18, 18, 0.6);
    box-shadow: inset 120px 100px 250px #111111,inset -120px -100px 250px #000000 ;
    
}

#logo img{
    height: 100px;
    margin-top: 5px;
    padding: 5px;
    margin-left: 60px;
}.header{
    position: relative;
    z-index: 2;
    padding: 5px;

}.header button.sumbit{
    background-color: red;
    float: right;
    position: relative;
    right: 50px;
    color: white;
    border-radius: 4px;
    padding: 5px 16px;
    border: none;
    margin-top: 20px;
}.header select {
    margin-top: 20px;
    float: right;
    right: 80px;
    position: relative;
    border-radius: 3px;
    padding: 5px;
    border: none;
    
}.header .mein h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 14%;
    padding: 0px;
    

}.header .mein{
    color: aliceblue;
    text-align: center;
}.header .mein h3{
    margin-top: 13px;
    padding: 2px;
}.header .mein h4{
    margin-top: 13px;
    padding: 2px;
}.sing-up {
    color: aliceblue;
    align-items: center;
    display: flex;
  
}.header .sing-up .start{
    background-color: red;
    text-align: center;
    font-size: 2rem;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    padding: 3px;
position: relative;
    left: 31%;
    float: right;
    top: 10px;
    


}.header .sing-up .plece-holder{
    position: relative;
    float: right ;
    font-size: 1rem;
    border: none;
    left: 30%;
    top: 10px;
    padding: 3px;
    background-color: rgba(15, 15, 15, 0.74);
    border-radius: 4px;
    border: none;
    border: 1px solid white;
    height: 35px;
    width: 400px;
    
}
