*{
    margin: 0;
    padding: 0;
}
.note_write{
    position: relative;
  width: 600px;
  margin: 32px auto 50px auto;
  background: #fff;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}
 input{
    display: inline-block;
    outline: none;
    margin: 5px;
    padding: 1px;
    border: none;
  
}
textarea{
    width: 100%;
  border: none;
  padding: 4px 10px;
  outline: none;
  font-size: 1rem;
  resize: none;
}
 button {
    margin: 5px;
    padding: 1px;
    text-align: center;
    background-color: yellow;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
   float: right;

}