.box{
    background-color: lightgreen;
    box-shadow: 5;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 5px;
    padding: 3px;
    height: 400px;
    width: 350px;

} .img h2 p{
font-size: 1rem;
text-align: center;

}